<div class="row">
  <div class="col-md-4">
    <%= form_for @restaurant, html: { multipart: true } do |f| %>

    <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this character from being saved:</h2>

        <ul>
        <% @character.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :street %><br>
      <%= f.text_field :street, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :city %><br>
      <%= f.text_field :city, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :country %><br>
      <%= f.text_area :country, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :postal_code %><br>
      <%= f.text_area :postal_code, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :neighborhood %><br>
      <%= collection_select(:restaurant, :neighborhood_id, Neighborhood.all, :id, :name, include_blank: true) %>
    </div>

    <div class="form-group">
      <%= f.label :category, "Categories" %> <br>
      <%= collection_check_boxes(:restaurant, :category_ids, Category.all, :id, :name) %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
    
  </div>
</div>














